.bingo {
	background-color: var(--black);
	color: var(--white);
	max-width: 800px;
}


.bingo .table {
	border-collapse: collapse;
	display: table;
}
.bingo .table .tr {
	display: table-row;
	display: flex;
	flex-flow: row nowrap;
}

.bingo .table .tr .td {
	position: relative;
	flex: 1 1 0px;
	background-color: inherit;
	border-radius: 0;
	font-size: 1rem;
	color: inherit;
	transition: background-color .1s ease;
	border: .5px solid #4a4a4a;
	padding: 1rem;
	display: table-cell;
	display: block;
	font: inherit;
	text-align: center;
	vertical-align: middle;
	word-wrap: break-word;
	word-break: break-word;
}

.bingo .table .tr .td:active, .bingo .table .tr .td:hover, .bingo .table .tr .td:focus {
	background-color: var(--boxhover);
	z-index: 3;
}

.bingo .table .tr .td.checked {
	opacity: 0.3;
}
.bingo .table .tr .td.checked::before {
	opacity: 1;
	content: "close";
	font-family: Material Icons;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	vertical-align: middle;
	font-size: 5em;
	color: var(--green);
}
